[submodule "lib/ArduinoCore-sam"]
	path = lib/ArduinoCore-sam
	url = git@github.com:arduino/ArduinoCore-sam.git
[submodule "lib/Adafruit_BusIO"]
	path = lib/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO.git
[submodule "lib/Adafruit_NeoPixel"]
	path = lib/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "lib/Adafruit_SSD1306"]
	path = lib/Adafruit_SSD1306
	url = https://github.com/adafruit/Adafruit_SSD1306.git
[submodule "lib/Adafruit-GFX-Library"]
	path = lib/Adafruit-GFX-Library
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "lib/Catch2"]
	path = lib/Catch2
	url = https://github.com/catchorg/Catch2.git
